.login-input {
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-width: 1px;
  width: 250px;
}
.login-button {
  padding: 10px 15px;
  margin-right: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 123, 255);
  color: white;
  cursor: pointer;
}
.show-button {
  margin-left: 10px;
}
